html(lang="ar" dir="rtl")
    head
        include ./links.pug
    body
        header#home
            div.container
                div.title-section
                    h2 سنتر 
                        i.fa-solid.fa-graduation-cap
                        | النخبة
                    ul.nav-heading
                        li 
                            a(href="#home")  الرئيسية
                        li 
                            a(href="#teacher") الكورسات
                        li 
                            a(href="#teacher") الاساتذة
                        li 
                            a(href="#center-ad")  عنا 
                        li 
                            a(href="#teacher")  التواصل
                        li 
                            a(href="tel:01146377309" Class="custom-btn") تواصل الأن
                    ul.nav-icon 
                        li 
                            i.fa-solid.fa-bars
                .landing
                    .row
                        .landing-text.col-lg-6.col-md-6.col-sm-12.text-sm-center.text-md-end  
                            h1  افضل  
                                span  طريق 
                                | للتعليم الحديث و
                                span التدرب  
                                | علي نظام الامتحانات 
                            p مرحبًا بكم في سنتر النخبة التعليمي، حيث يكمن العلم والمعرفة وراء كل أفكارنا,نحن هنا في سنتر النخبة نؤمن بأن التعليم ليس مجرد واجب، بل هو رحلة مثيرة من الاكتشاف والإلهام
                            a(href="tel:01146377309" Class="custom-btn") تواصل الأن
                        img(src="../image/OBJECTS.png", alt="OBJECTS", class="col-lg-6 col-md-6 col-sm-12" )
                .center-ad#center-ad
                    .center-ad-box 
                        .image-container 
                            img(src="../image/certification 1.png", alt="certification")
                        .ad-box-text 
                            h3 فريق تدريس متميز
                            p يحتوي سنتر النخبة على فريق تدريس متميز من المعلمين المتحمسين والمتخصصين في مجموعة متنوعة من المواد الدراسية. يجمع فريقنا بين الخبرة والشغف لتقديم التعليم بأفضل طريقة ممكنة
                    .center-ad-box 
                        .image-container 
                            img(src="../image/online-test 1.png", alt="online-test")
                        .ad-box-text 
                            h3 مناهج تعليمية متميزة 
                            p  يتميز سنتر النخبة التعليمي بمناهج تعليمية مبتكرة ومتميزة تهدف إلى تحفيز الفضول وتطوير مهارات التفكير النقدي لدى الطلاب. نحن نعتمد على أحدث الأساليب التعليمية ونقدم محتوى تعليمي شيق وملهم يساعد الطلاب على استيعاب المعلومات بسهولة وتحقيق التفوق
                    .center-ad-box 
                        .image-container 
                            img(src="../image/exam 1.png", alt="exam")
                        .ad-box-text 
                            h3 بيئة تعليمية ملهمة
                            p يوفر سنتر النخبة بيئة تعليمية إيجابية وملهمة تساعد الطلاب على تحقيق أقصى إمكاناتهم, من خلال جو محفز ومشجع، يجد الطلاب في سنتر النخبة المكان المثالي لاكتشاف مواهبهم وتحقيق التميز 
        .teachers#teacher
            .container 
                .section-head
                    h3 فريق التميز الأكاديمي
                    p أساتذتنا المتميزون يقودون طريق التفوق
                .row 
                    .col-lg-4.col-md-6.col-sm-12.d-flex.justify-content-center
                        .teacher-box
                            img(src="../image/1689983392589.jpg", alt="seed elhalawany")
                            .teacher-box-text
                                h2 أ.سيد الحلواني 
                                p  أ.سيد الحلواني هو مدرس اول  متحمس في مادة الرياضيات في مدرسة الطيبة الثانوية واحد اعضاء سنتر النخبة التعليمي. يتمتع بمعرفة عميقة في مختلف فروع الرياضيات، ويستطيع شرح المفاهيم الصعبة بطريقة بسيطة وسهلة الفهم. يهدف استاذ سيد إلى تعزيز حب الطلاب للرياضيات وتنمية مهارات حل المسائل الرياضية بطريقة مبدعه
                            a(href="tel:01146377309" Class="custom-btn") تواصل الأن
                    .col-lg-4.col-md-6.col-sm-12.d-flex.justify-content-center
                        .teacher-box
                            img(src="../image/1689983392571.jpg", alt="Awad")
                            .teacher-box-text
                                h2 أ.عوض عباس 
                                p  أ.عوض عباس هو مدرس اول  متميز في مادة اللغة العربية في مدرسة شوشة الثانوية واحد اعضاء سنتر النخبة التعليمي. يتمتع بمهارات تعليمية فريدة تساعد الطلاب على تحسين مستواهم في جميع فروع اللغة العربية . يهدف استاذ عوض إلى تنمية قدرات الطلاب اللغوية وتعزيز ثقتهم في استخدام اللغة العربية بطريقة دقيقة وجميله
                            a(href="tel: 01155112838" Class="custom-btn") تواصل الأن
                    .col-lg-4.col-md-6.col-sm-12.d-flex.justify-content-center
                        .teacher-box
                            img(src="../image/1689983392580.jpg", alt="abo bakr")
                            .teacher-box-text
                                h2 أ.أبوبكر خليفة 
                                p أ.أبوبكر خليفة هو مدرس اول  متميز في مادة الأحياء في مدرسة سمالوط الثانوية بنين واحد اعضاء سنتر النخبة التعليمي. يتمتع بخبرة واسعة في تدريس علوم الحياة والكائنات الحية، وهو يستخدم أساليب تعليمية مبتكرة لجعل الدروس شيقة وممتعة. يسعى استاذ أبو بكر لتحفيز الفضول لدى الطلاب وتعزيز روح الاستكشاف والتفكير النقدي في مجال الأحياء
                            a(href="tel:01154861027" Class="custom-btn") تواصل الأن
        .dates 
            .container 
                .dates-text 
                    h2 أماكن 
                        span تواجدنا 
                        br 
                        | والمواعيد
                    .dates-box
                        .dates-image-container
                            img(src="../image/hearts 1.png", alt="hearts")
                        .limit-date
                            h3 الطيبة
                            p الاحياء
                                i.fa-solid.fa-arrow-left
                                | الاثنين والخميس
                            p اللغة العربية 
                                i.fa-solid.fa-arrow-left
                                | السبت والثلاثاء
                            p الرياضيات
                                i.fa-solid.fa-arrow-left
                                |  الاحد الاربعاءالساعة العاشرة صباحا
                    .dates-box
                        .dates-image-container
                            img(src="../image/jigsaw 1.png", alt="hearts")
                        .limit-date
                            h3 شوشة
                            p الاحياء
                                i.fa-solid.fa-arrow-left
                                | الاحد الاربعاء
                            p اللغة العربية 
                                i.fa-solid.fa-arrow-left
                                | (الاحد او الاثنين)والخميس
                            p الرياضيات
                                i.fa-solid.fa-arrow-left
                                |قريبا
                    .dates-box
                        .dates-image-container
                            img(src="../image/hearts 1.png", alt="hearts")
                        .limit-date
                            h3 سمالوط
                            p الاحياء
                                i.fa-solid.fa-arrow-left
                                | السبت والثلاثاء
                            p اللغة العربية 
                                i.fa-solid.fa-arrow-left
                                |قريبا
                            p الرياضيات
                                i.fa-solid.fa-arrow-left
                                |قريبا
                    h4 ملحوظة هامة* يبداء الحجز الان والبداية يوم 1/8
                img(src="../image/OBJECTS (1).png", alt="OBJECTS")
        .advantage 
            .container 
                .section-head
                    h3 مميزات سنتر النخبة  
                    p طريقك الأول للتميز
                .row.pt-4 
                    .col-lg-2.col-md-4.col-sm-6
                        .advantage-box 
                            i.fa-solid.fa-vial-virus
                            h5 امتحانات شهرية 
                            p  تدريات دورية فصلية وتراكمية 
                    .col-lg-2.col-md-4.col-sm-6
                        .advantage-box 
                            i.fa-solid.fa-hands-holding-child
                            h5 متابعة دورية
                            p  متابعة منتظمة مع الطالب 
                    .col-lg-2.col-md-4.col-sm-6
                        .advantage-box 
                            i.fa-solid.fa-people-roof
                            h5 متابعة مع اولياء الامور 
                            p الحرص علي التواصل مع اولياء الامور للمتابعة المستمرة للطالب 
                    .col-lg-2.col-md-4.col-sm-6
                        .advantage-box 
                            i.fa-solid.fa-graduation-cap
                            h5 استعداد للاختبارات الرسمية
                            p   تدريبات تأهيلية ومراجعات شاملة للاختبارات  السابقة
                    .col-lg-2.col-md-4.col-sm-6
                        .advantage-box 
                            i.fa-solid.fa-users
                            h5 بيئة تعليمية داعمة
                            p جو دراسي إيجابي يشجع التفاعل والتعاون بين الطلاب والمعلمين
                    .col-lg-2.col-md-4.col-sm-6
                        .advantage-box 
                            i.fa-solid.fa-book-reader
                            h5 جدول دراسي مرن
                            p يتيح سنتر النخبة جدولًا دراسيًا مرنًا يتناسب مع احتياجات الطلاب وجداولهم المزدحمة
        footer 
            .container
                .row 
                    .col-lg-5.col-md-6.col-sm-12
                        .footer-title
                            h2 سنتر
                                i.fa-solid.fa-graduation-cap
                                | النخبة
                            p "نحن نؤمن بأن التعليم هو مفتاح النجاح، وهنا في سنتر النخبة التعليمي، نسعى لاكتشاف المواهب الخفية وتحفيز الطموحات وتقديم دعم فريد ومتميز لكل طالب، لنحقق معًا التميز الأكاديمي ونبني مستقبلًا مشرقًا ينير طريق النجاح والتفوق، فإننا هنا لنرافقكم في كل خطوة من رحلتكم التعليمية ونقودكم بثقة نحو تحقيق الإنجازات العظيمة وصنع فارق إيجابي في المجتمع والعالم."
                    .col-lg-2.col-md-6.col-sm-12
                        ul.footer-links
                                li 
                                    a(href="#home")  الرئيسية
                                li 
                                    a(href="#teacher") الكورسات
                                li 
                                    a(href="#teacher") الاساتذة
                                li 
                                    a(href="#center-ad")  عنا 
                                li 
                                    a(href="#teacher")  التواصل
                    .col-lg-2.col-md-6.col-sm-12
                        ul.footer-other-links
                                li 
                                    a(href=" https://www.moe.gov.eg/")  وزارة التربية والتعليم
                                li 
                                    a(href="https://www.egyptian-education.org/") التعليم الالكتروني
                                li 
                                    a(href="https://www.egypteducation.net/") موقع مصر التعليمي
                                li 
                                    a(href="https://egyptschnew.com/")  منصة نظام مدارس مصر الجديدة 
                                li 
                                    a(href="https://darsak.gov.eg/")  موقع درسك
                    .col-lg-3.col-md-6.col-sm-12
                        h5 تم تصميم وتطوير هذا الموقع بواسطة 
                            br 
                            | mohammed salhyen sherief
                        p للتواصل مع المطور 
                        ul.dev-links
                            li
                                a(href="https://www.facebook.com/mohammed.abdelsalhyens")
                                    i.fa-brands.fa-facebook
                            li
                                a(href="tel:+201110948994")
                                    i.fa-brands.fa-whatsapp
                            li
                                a(href="https://www.linkedin.com/in/mohammed-abdelsalhyen-sherief-8976441b8")
                                    i.fa-brands.fa-linkedin
                            li
                                a(href="https://instagram.com/mohammedabdelsalhye?igshid=MzNlNGNkZWQ4Mg==")
                                    i.fa-brands.fa-instagram
        script(src="../JS/index.js")